/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        letters {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB           &kp Q  &kp W           &kp E        &kp R             &kp T        &kp Y      &kp U              &kp I          &kp O            &kp P             &lt 3 TILDE
&kp LEFT_SHIFT    &kp A  &mt LEFT_ALT S  &mt RCTRL D  &mt LEFT_SHIFT F  &kp G        &kp H      &mt RIGHT_SHIFT J  &mt RCTRL K    &mt RIGHT_ALT L  &kp COMMA         &lt 2 SQT
&kp LEFT_CONTROL  &kp Z  &kp X           &kp C        &kp V             &kp B        &kp N      &kp M              &kp COMMA      &kp PERIOD       &kp SINGLE_QUOTE  &lt 1 DOUBLE_QUOTES
                                         &kp DELETE   &kp LEFT_GUI      &kp SPACE    &kp ENTER  &kp SPACE          &kp BACKSPACE
            >;
        };

        keyboard {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&sys_reset  &bootloader   &kp LCTRL     &kp LCTRL     &kp LCTRL     &kp LCTRL       &kp LCTRL  &kp LCTRL  &kp LCTRL  &kp LCTRL  &kp LCTRL  &kp LCTRL
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp LCTRL  &kp LCTRL  &kp LCTRL  &kp LCTRL  &kp LCTRL  &kp LCTRL
&kp LCTRL   &kp LCTRL     &kp LCTRL     &kp LCTRL     &kp LCTRL     &kp LCTRL       &kp LCTRL  &kp LCTRL  &kp LCTRL  &kp LCTRL  &kp LCTRL  &kp LCTRL
                                        &kp LCTRL     &kp LCTRL     &kp LCTRL       &kp LCTRL  &kp LCTRL  &kp LCTRL
            >;
        };

        special {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp EXCLAMATION  &kp LBRC   &kp RBRC  &trans       &kp MINUS  &kp PLUS
&kp LCTRL  &trans    &trans  &trans    &trans    &trans       &kp QMARK        &kp LPAR   &kp RPAR  &kp PERCENT  &kp BSLH   &kp STAR
&kp LSHFT  &trans    &trans  &trans    &trans    &trans       &kp UNDER        &kp LBKT   &kp RBKT  &trans       &kp DOT    &kp COMMA
                             &kp ESC   &trans    &kp SPACE    &kp RET          &kp EQUAL  &kp RALT
            >;
        };

        number {
            bindings = <
&trans  &trans  &trans  &trans  &trans                &trans                   &trans     &kp N7        &kp N8        &kp N9        &kp MINUS   &kp PLUS
&trans  &trans  &trans  &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &trans     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp SLASH   &kp ASTERISK
&trans  &trans  &trans  &trans  &trans                &trans                   &trans     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD  &kp PERIOD
                        &trans  &trans                &trans                   &kp ENTER  &kp EQUAL     &kp N0
            >;
        };

        i3wm {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
